.cre {
  font-family: "bic";
  text-align: center;
  font-size: 100px;
  width: 50%;
  text-shadow: 1px 3px  #97a2a5;
  /* font-weight: 700; */
  line-height: 100%;
  margin: 10px auto;
  text-transform: capitalize;
}

.location_grid {
  gap: 50px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.location_container {
  background-color: #efebe5;
  padding: 80px;
}
.losi {
  max-width: 1200px;
  margin: 0 auto;
}
.ocation_img {
  width: 100%;
}

.location_name {
  font-family: "tokyo";
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}

.location_title {
  font-family: "eb";
  text-align: center;
  opacity: 80%;
  font-weight: 500;
  text-transform: uppercase;
}

.soo {
  padding: 2px;
  /* width:50%; */
  display: flex;
  /* align-items: center; */
  justify-content: center;
  margin: 0 auto;
}

.linka {
  width: 50%;
  margin: 0px 0;
  background-color: #1a1a1aec;
  font-family: "sans";
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  text-transform: capitalize;
  padding: 20px 50px;
  position: relative;
}

.linka::after {
  position: absolute;
  border: 1px solid #1a1a1a;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  content: "";
  width: 100%;
  height: 100%;
}

.ocation_addres {
  margin-bottom: 40px;
}


.link{
  /* width: 100%!important; */
}

/* MEDIA QUERIES FOR SMALLER DEVICES */

@media (max-width: 1188px) {
  .location_grid {
    gap: 0px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .location_container {
    background-color: #efebe5;
    padding: 50px 20px;
  }
  .losi {
    max-width: 1200px;
    margin: 0 auto;
  }
}

/* Tablets (768px and below) */
@media (max-width: 868px) {
  .cre {
    font-size: 60px;
    width: 70%;
  }

  .location_grid {
    gap: 30px;
    grid-template-columns: 1fr; /* single column */
  }

  .location_container {
    padding: 50px;
  }

  .location_name {
    font-size: 20px;
  }

  .linka {
    font-size: 16px;
    padding: 8px 30px;
  }
}

/* Mobile (480px and below) */
@media (max-width: 480px) {
  .cre {
    font-size: 70px;
    width: 90%;
  }

  .location_container {
    padding: 30px;
  }
  .location_title {
  }
  .location_name {
    font-size: 18px;
  }

  .linka {
    font-size: 16px;
    padding: 20px 20px;
  }

  .location_title {
    font-size: 15px;
    opacity: 80%;
  }
}
