.parallax_wrapper {
  width: 100%;
  height: 80vh;
  overflow: hidden;
  background-image:url("../../assets/us.jpg");
  background-position: center 20%;
  position: relative;
  background-size: cover;
}

.parallax_wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #33333368;
  pointer-events: none;
}

.paralx_one {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
  justify-content: center;
  inset: 0;
}
.parallx_titles {
  font-family: "tokyo";
  color: #fff;
  font-size: 50px;
  width: 60%;
  text-align: center;
  margin-bottom: 20px;
}

.parallax_paras{
    font-family: "eb";
    width: 50%;
    text-align: center;
    color: #fff;
    line-height: 150%;
}
.para {
  overflow: hidden;
}
.sada {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.paraax_grid {
  padding: 0 200px 80px 200px;
  gap: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #efebe5;
  margin-top: -50px;
}
.marai {
  height: 70vh;
  border: 1px solid #33333318;
  padding: 10px;
  object-fit: cover;
}

.pa_sub {
  position: relative;
}

.pa_sub::after {
  position: absolute;
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: #33333339;
}

.ho {
  position: absolute;
  z-index: 1;
  bottom: 30px;
  right: 0;
  left: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "tokyo";
}

.dom {
  position: absolute;
  z-index: 1;
  bottom: 90px;
  right: -150px;
  left: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "tokyo";
}

.days {
  color: #fff;
  font-size: 30px;
}
.dates {
  font-size: 70px;
  color: #fff;
}
.uo {
  color: #fff;
  border: 1px solid #fff;
}
@media (max-width: 1180px) {

  .paraax_grid{


    padding:20px 10px 50px 10px;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
  }

  .marai{
    height: 45vh;
  }

  .parallax_paras{

    width: 90%;

  }

  .parallx_titles{
    width: 80%;
  }

  .parallax_wrapper{
    height: 70vh;
    padding: 50px 0;

  }

    .pa_sub:nth-child(3){
grid-column: 1/3;

    }
}

@media (max-width: 1180px) {

  .parallx_titles{
    font-size: 30px;
  }
.ho {
  position: absolute;
  bottom: 50px;
  right: 0;
  left: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "tokyo";
}

.dom {
  position: absolute;
  bottom: 20px;
  right: 0px;
  left: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "tokyo";
}

}