.travel_container {
  padding: 200px 80px;
  display: grid;
  gap: 50px;
  grid-template-columns: 1fr 1fr;
  /* place-items: center; */
  margin: 0 auto;
  max-width: 1200px;
}

.tros {
  background-image: url("https://images.pexels.com/photos/10059554/pexels-photo-10059554.jpeg");
  background-size: cover;
  background-position: center center;
  position: relative;
}

.tros::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #26252674;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.travels {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  align-items: center;
  justify-content: center;
}

.travel_title {
  text-shadow: 1px 3px #97a2a5;

  font-family: "bic";
  line-height: 150%;
  text-align: center;
  font-weight: 500;
  font-size: 80px;
  line-height: 100%;
  /* width: 50%; */
  color: #fff;
  margin-bottom: 30px;
}

.trave_sub_title {
  font-family: "sans";
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;

  margin-bottom: 20px;
}

.travel_desc {
  font-family: "eb";
  line-height: 150%;
  font-size: 16px;
  text-align: center;
  color: var(--black);
  color: #fff;
  /* width: 50%; */
  opacity: 90%;
}

.dcv {
  padding: 10px;
  border: 1px solid rgba(236, 229, 229, 0.423);

  position: relative;
  z-index: 1;
}
.travel_form {
  padding: 20px;
  border: 1px solid #33333351;

  /* From https://css.glass */
  background: rgba(41, 41, 41, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border: 1px solid rgba(236, 229, 229, 0.423);

  /* max-width: 100px; */
  width: 100%;
  position: relative;
  z-index: 1;
  margin: 0px auto;
}

.form_input_section {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form_label {
  color: #fff;
  font-family: "sans";
  margin-bottom: 3px;
}
.arched-image {
  width: 320px; /* adjust to your layout */
  height: 480px;
  overflow: hidden;
  clip-path: path("M0 140 Q160 0 320 140 L320 480 L0 480 Z");
}

.arched-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form_input,
.naugthy {
  border: 1px solid #3333334e;
  padding: 10px 10px;
  background-color: #ffffff4f;
  color: #fff;
  font-size: small;
}

.links {
  width: 100%;
  background-color: var(--black);
  padding: 10px;
  color: #fff;
  margin-top: 10px;
  cursor: pointer;
  font-family: "tokyo";
  border: none;
}
.near_title {
  text-align: center;
  font-family: "bic";
  font-size: 100px;
  text-shadow: 1px 3px #97a2a5;
line-height: 100%;
  color: var(--black);
  font-weight: 500;
  margin-bottom: 30px;
}

.teal {
  background-color: #efebe5;
  padding: 80px 0;
}

.hotel_grid {
  max-width: 1200px;

  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
.so {
  display: flex;
  align-items: center;
  justify-content: center;
}
.de {
  width: fit-content;
}
.hotel_img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}
.hotel_name {
  font-weight: 700;
  font-size: 16px;
  margin: 10px 0 -10px 0;
  font-family: "tokyo";
}
@media (max-width: 1026px) {
  .travel_container {
    display: flex;
    flex-direction: column;
    /* padding: 50px 20px; */
  }

  .hotel_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 20px;
  }
  .hotel_img {
    height: 40vh;
  }
  .travel_title {
    font-size: 40px;
  }
}
@media (max-width: 826px) {
  .travel_container {
    display: flex;
    flex-direction: column;
    padding: 140px 10px 50px 10px;
  }
  .hotel_img {
    height: 30vh;
  }
  .hotel_grid {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
  }
  .travel_title {
    font-size: 65px;
  }
  .travel_title {
    line-height: 90% !important;
    width: 90%;
    font-size: 70px;
    margin-bottom: 10px;
  }

  .trave_sub_title {
    font-size: 16px;
  }
}
