.travel_container {
  padding: 80px;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 50px;
  grid-template-columns: 1fr 1fr;
  /* place-items: center; */
}

.travels {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.travel_title {
  font-family: "tokyo";
  line-height: 150%;
  text-align: center;
  font-weight: 700;
  font-size: 50px;
  color: var(--black);
  margin-bottom: 30px;
}

.trave_sub_title {
  font-family: "sans";
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.travel_desc {
  font-family: "eb";
  line-height: 150%;
  font-size: 16px;
  text-align: center;
  color: var(--black);
  opacity: 90%;
}
.travel_form {
  padding: 20px;
  border: 1px solid #33333351;
  /* max-width: 500px; */
  width: 100%;
  margin: 40px auto;
}

.form_input_section {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form_label {
  color: var(--black);
  font-family: "sans";
  margin-bottom: 3px;
}

.form_input {
  border: 1px solid #3333334e;
  padding: 10px 10px;
  font-size: small;
}

.links {
  width: 100%;
  background-color: var(--black);
  padding: 10px;
  color: #fff;
  margin-top: 10px;
  cursor: pointer;
  font-family: "tokyo";
  border: none;
}
.near_title {
  text-align: center;
  font-family: "tokyo";
  font-size: 40px;
  color: var(--black);
  font-weight: 700;
  margin-bottom: 30px;
}

.teal {
  background-color: #efebe5;
  padding: 80px 0;
}

.hotel_grid {
  max-width: 1200px;

  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
.hotel_img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}
.hotel_name {
  font-weight: 700;
  font-size: 16px;
  margin: 10px 0 -10px 0;
  font-family: "tokyo";
}
@media (max-width: 996px) {
  .travel_container {
    display: flex;
    flex-direction: column;
    padding: 50px 20px;
  }

  .hotel_grid {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
  }

  .travel_title {
    font-size: 40px;
  }
}
