.count {
  background-image: url("../../assets/us.jpg");
  min-height: 100vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.count::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3333339a;
  background-color: #00000082;
  background-color: #141414a9;


  pointer-events: none;
}
.count_container {
  position: absolute;
  inset: 0;
  z-index: 1;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main_title {
  text-shadow: 1px 1px #97a2a5;

  font-family: "bic";
  color: #fff;
  font-size: 100px;
  line-height: 100%;
}

.vbn {
  font-family: "play";
  color: #fff;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.count_grid {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

.count_sub {
  padding: 50px;
  text-align: center;
  background-color: #00000023;
  border: 1px solid #dddddd1b;
  /* border-radius: 50%; */
}
.count_para {
  font-family: "eb";
  font-size: 17px;
  color: #ddd;
  margin: 20px auto;
  width: 40%;
  text-align: center;
  line-height: 150%;
}
.count_day {
  font-size: 50px;
  color: #fff;
  font-weight: 700;

  font-family: "tokyo";
}

.count_value {
  color: #fff;
  font-family: "eb";
  text-transform: uppercase;
  font-size: 17px;
}
/* TABLET DEVICES (max-width: 768px) */
@media (max-width: 768px) {
  .main_title {
    font-size: 60px;
    line-height: 1.1;
  }
  .count {
    min-height: 80vh;
  }
  .count_para {
    width: 70%;
    font-size: 16px;
  }

  .count_sub {
    padding: 30px;
  }

  .count_day {
    font-size: 40px;
  }

  .count_value {
    font-size: 15px;
  }

  .count_grid {
    /* flex-direction: column; */
    gap: 15px;
  }
}

/* MOBILE DEVICES (max-width: 480px) */
@media (max-width: 480px) {
  .main_title {
    width: 70%;
    text-align: center;
    font-size: 60px;
    line-height: 100%;
  }

  .count_para {
    width: 90%;
    font-size: 14px;
  }

  .count_sub {
    padding: 20px;
  }

  .count_day {
    font-size: 30px;
  }

  .count_value {
    font-size: 13px;
  }

  .count_grid {
    /* flex-direction: column; */
    gap: 10px;
  }
}

/* EXTRA SMALL DEVICES (max-width: 360px) */
@media (max-width: 360px) {
  .main_title {
    font-size: 32px;
    line-height: 1.3;
  }

  .count_para {
    width: 95%;
    font-size: 13px;
  }

  .count_sub {
    padding: 15px;
  }

  .count_day {
    font-size: 25px;
  }

  .count_value {
    font-size: 12px;
  }
}
