.header_grid {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 1fr;
  position: relative;
}

.header_grid::after {
  background-color: #00000082;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  height: 100vh;
  overflow: hidden;
}
.header_sub {
  height: 100%;
  width: 100%;
}

.header_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header_log {
  position: absolute;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 0;
  z-index: 1;
}

.circle {
  border: 1px solid #fff;
  margin-top: 100px;
  padding: 20px;
  height: 100px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 70px;
}
.cn {
  font-family: "tokyo";
  color: #fff;
  letter-spacing: 1.1px;
  font-size: 30px;
}

.couple_name {
  font-family: "bic";
  font-size: 150px;
  text-transform: capitalize;
  line-height: 100%;
  color: #fff;
  font-weight: 400;
}
.wedding_date {
  color: #fff;
  font-size: 25px;
  margin: 20px 0;
  font-family: "tokyo";
}

@media (max-width: 680px) {
  .header_grid {
    grid-template-columns: 1fr;
  }

  .xx {
    display: none;
  }
.circle{
  margin-top: 30px;
}



.header_img{
  object-position: 60% center;
}
  .couple_name {
    width: 80%;
    margin: 20px 0;
    text-align: center;
line-height: 100%;
    font-size: 100px;
  }

  .header {
    height: 80vh;
  }
}
