.header {
  position: relative;
  height: 110vh;
  overflow: hidden;
}

.slideshow-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110vh;
  background-repeat: no-repeat;
  background-position: center 15%;
  background-size: cover;
  /* background-position: center center; */
  transition: opacity 1.5s ease-in-out;
  /* z-index handled inline */
}
.slideshow-image {
}

.couple_name_section,
.nav,
.mobile-nav-icon,
.mobile-nav-menu,
.bottom_section {
}

/* Retain your existing header::after if needed */
.header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000a9;
  top: 0;
  left: 0;
  /* z-index: 1; */
  pointer-events: none;
}
.imger {
  position: absolute;
  height: 120vh;
}

.ss {
  width: 100%;
  height: 100%;
}

.header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #201f1fa9;
}

.bottom_date {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  right: 0;
  left: 0;
  bottom: 30px;
  z-index: 1;
  position: absolute;
}

.bottom_name {
  border-top-color: transparent;
  border-bottom-color: transparent;
  /* line-height: 100%; */
  border-left-color: transparent;
  padding: 0 10px;
  font-size: 25px;
  font-weight: 400;
  color: #fff;
  font-family: "eb";
}

.sections {
  height: 80px;
  display: flex;
  align-items: center;
  border: 1px solid #fff;
  border-top-color: transparent;
  border-bottom-color: transparent;
}

.sum {
  border-left-color: #fff;
  border-right-color: transparent;
}

.dum {
  border-left-color: transparent;
}
.rum {
  border-right-color: transparent;
}
.bottom_dates {
  padding: 15px 10px 0 20px;
  line-height: 50%;

  /* padding: 20px; */
  font-size: 120px;
  font-family: "bic";
  /* line-height: 200%; */
  color: #ddd;
  /* font-weight: bold; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.z {
  border-left-color: #fff;
  border-right-color: transparent;
}
.bottom_para {
  font-family: "eb";
  color: transparent;
  opacity: 0%;
  position: relative;
  font-size: 22px;
  margin-top: 10px;
}
.couple_and {
  /* width: 320px; */
}

.couple_nam {
  font-family: "bic";
  line-height: 80%;
  text-shadow: 1px 1px #97a2a5;

  text-align: center;
  font-size: 130px;
  /* line-height: 100%; */
  font-weight: 400;
  color: #fff !important;
  text-transform: capitalize;
}

.km {
  margin-right: 0px;
  margin-top: 0px;

  padding: 0 0px;
}

.hh {
  margin-top: 0px;
  padding: 0 0px;
}
.fff {
  max-width: 1200px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.couple_name_section {
  /* border: 1px solid red; */
  /* width: 100%; */
  display: flex;
  left: 0px;
  right: 0;
  z-index: 1;
  bottom: 130px;
  padding: 0 80px;
  /* justify-content: flex-start; */
  /* align-items: flex-start; */
  flex-direction: column;
  position: absolute;
}
.nav {
  position: absolute;
  z-index: 1;
  width: 100%;
  border: 1px solid #fff;
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
}
.navs {
  width: 100%;
  height: 70px;
  align-items: center;
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}
.nav_title {
  font-family: "eb";
  cursor: pointer;
  font-size: 20px;
}
.mobile-nav-icon {
  position: fixed;
  z-index: 1;
  right: 20px;
  cursor: pointer;
  display: none;
}
@media screen and (max-width: 750px) {
  .mobile-nav-icon {
    display: block;
    top: 20px;
    z-index: 99999;
    overflow: hidden;
  }
  .fff {
    min-height: 100%;
  }
  .couple_name_section {
    padding: 0;
  }

  .nav,
  .desktop-nav {
  }

  .saq {
    z-index: 1000;
    position: relative;
    display: block;
    color: var(--brown);
  }

  .doe {
    display: flex;
    gap: 30px;
  }

  .mobile-nav_list {
    z-index: 1;
    position: relative;
    margin-bottom: 30px;
  }

  .header {
    height: 80vh;
  }

  .nav_title {
    display: none;
  }
  .mobile-nav-menu {
    background-color: #fff;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    gap: 30px;
    right: 0;
    overflow: hidden;
    text-align: center;
    z-index: 1000;
    width: 50%;
    height: 100vh;
  }

  .mobile-nav-menu::after {
    position: absolute;
    background-color: red;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    inset: 0;
  }
}

@media screen and (max-width: 866px) {
  .couple_and {
    width: 100px;
  }
  .couple_name_section {
    position: absolute;
    /* inset: 0; */
    right: 0;
    left: 0;
    display: flex;
    bottom: 200px;
  }
  .couple_nam {
    font-size: 100px;
    color: #fff !important;
    margin: 0;
    margin-right: 80px;
    text-align: center;
  }

  .header {
    height: 100vh;
  }
  .km,
  .hh {
    margin: 0;
    padding: 0;
  }
  .bottom_name {
    font-size: 20px;
  }

  .bottom_dates {
    font-size: 70px;
  }
  .hh {
    padding: 0;
  }
  .bottom_para {
    text-align: center;
    font-size: 17px;
    width: 80%;
  }
}

@media screen and (max-width: 396px) {
  .couple_and {
    width: 100px;
  }

  .header {
    height: 90vh;
  }
  .couple_name_section {
    position: absolute;
    /* inset: 0; */
    right: 0;
    left: 0;
    display: flex;
    bottom: 180px;
  }
  .couple_nam {
    font-size: 80px;
    margin: 0;
    margin-right: 0px;
    text-align: center;
  }
  .km,
  .hh {
    margin: 0;
    padding: 0;
  }
  .bottom_name {
    font-size: 20px;
  }

  .bottom_dates {
    font-size: 130px;
    padding: 30px 30px 30px 30px;
  }
  .hh {
    padding: 0;
  }

  .slideshow-image {
    background-position: center 100% !important;
  }
  .bottom_para {
    text-align: center;
    font-size: 17px;
    width: 80%;
  }
}
