.intro {
  overflow: hidden;
  min-height: 100vh;
  width: 100%;
  position: relative;
}

.hey {
  width: 300px;
  border: 1px solid #33333348;
}

.kali {
  position: relative;
}

.kali::after {
  position: absolute;
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: #3333331f;
}

.intro::after {
  position: absolute;
  content: "";
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center 20%;
  opacity: 20%;
  background-image: url("../../assets/heartss.png");
}

.ppp {
  padding: 10px;
  border: 1px solid #33333348;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
}
.intro_container {
  max-width: 1000px;
  margin: 0 auto;
}
.intro_grid {
  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: column;
  padding: 100px 0;
  gap: 80px;
}
.intro_sub {
  position: relative;
  z-index: 1;
  /* display: flex; */
  /* flex-direction: column; */
  height: 100%;
  width: 100%;
}

.intro_img {
  position: relative;
  padding: 20px;
  border: 1px solid #33333300;
  opacity: 100%;
  width: 100%;
  object-position: center 20%;
  height: 100vh;
  object-fit: cover;
}

.intro_title {
  font-family: "tokyo";
  font-family: "bic";
  text-shadow: 1px 3px  #97a2a5;

  font-weight: 500;
  color: var(--black);
  text-transform: capitalize;
  font-size: 85px;
  text-align: center;
  width: 90%;


  line-height: 100%;
  margin: 0px auto;
  line-height: 120%;
}

.intro_sub_para {
  font-family: "work";
  font-size: 15px;
  color: var(--black);
  font-weight: 400;
  text-transform: uppercase;
  font-style: italic;
  line-height: 28px;
  text-align: center;
}

.intro_para {
  font-family: "eb";
  margin: 0px auto;
  font-size: 17px;
  line-height: 29px;
  opacity: 80%;
  text-align: center;
  color: var(--black);
  width: 70%;
}

.cos {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  min-height: 100vh;
}
.intro_sub {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 1480px) {
  .intro_container {
    max-width: 1400px;
  }
}
@media (max-width: 1080px) {
  .intro_container {
    max-width: max-content;
    padding: 50px 20px;
  }

  .intro_grid {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 15px;
  }
  .intro,
  .cos {
    min-height: auto;
  }
  .intro_sub {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
@media (max-width: 700px) {
  .intro_img {
    height: 65vh;
  }

  .intro_para {
    width: 90%;
    font-size: 17px;
    opacity: 90% !important;
  }
  .intro_title {
    margin-bottom: -10px;
    font-size: 70px;

    line-height: 100%!important;
  }
}
