@font-face {
  font-family: "tokyo";
  src: url("../public/fonts/TokyoDreams.otf") format("truetype");
}

@font-face {
  font-family: "eb";
  src: url("../public/fonts/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "sans";
  src: url("../public/fonts/WorkSans-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "bic";
  src: url("../public/fonts/Bickham\ Script\ Pro\ Regular.ttf")
    format("truetype");
}
.language_modal .ant-modal-content {
  border-radius: 12px;
  text-align: center;
  padding: 2rem;
  background: #fdfdfd;
}

.modal_content h2 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 600;
}

.flag_buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.lang_flag {
  width: 60px;
  height: 40px;
  cursor: pointer;
  border-radius: 6px;
  border: 2px solid transparent;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  transition: all 0.25s ease;
}

.lang_flag:hover {
  transform: scale(1.15);
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.3);
}

.active_flag {
  border: 2px solid #1890ff; /* Ant Design primary color */
  transform: scale(1.2);
}

@font-face {
  font-family: "play";
  src: url("../public/fonts/PlayfairDisplay-VariableFont_wght.ttf")
    format("truetype");
}
.oo {
  font-family: "sans";
}

.sha {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.io {
  margin-bottom: 15px;
  cursor: pointer;
}

.yt {
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.ss {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #3333334e;
  padding: 5px 10px;
}
@import "tailwindcss";
:root {
  --black: #1f1a19;
  --brown: #333;
}
.fo {
  background-color: var(--black);
  padding: 10px;
  text-align: center;
  font-family: "tokyo";
  letter-spacing: 1.2px;
  font-size: 14px;
  color: #fff;
  font-weight: 800;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* //trans */

.trans {
  font-family: "bic";
  font-size: 100px;
  color: #fff;
  text-align: center;
}

.mention_here {
  color: #fff;
  margin: 20px auto;
  font-size: 17px;
  line-height: 150%;
  width: 40%;
  text-align: center;
  font-family: "play";
}
@media (max-width: 826px) {
  .trans {
    font-size: 70px;
    text-shadow: 1px 1px #000;
    line-height: 100%;
    width: 80%;
  }

  .mention_here {
    width: 90%;
  }
}
